[submodule "spike"]
	path = spike
	url = https://github.com/THU-DSP-LAB/ventus-gpgpu-isa-simulator.git
	branch = develop
[submodule "gpgpu"]
	path = gpgpu
	url = https://github.com/THU-DSP-LAB/ventus-gpgpu.git
	branch = develop
[submodule "driver"]
	path = driver
	url = https://github.com/THU-DSP-LAB/ventus-driver.git
	branch = develop
[submodule "pocl"]
	path = pocl
	url = https://github.com/THU-DSP-LAB/pocl.git
	branch = develop
[submodule "ocl-icd"]
	path = ocl-icd
	url = https://github.com/OCL-dev/ocl-icd.git
[submodule "rodinia"]
	path = rodinia
	url = https://github.com/THU-DSP-LAB/gpu-rodinia.git
[submodule "llvm"]
	path = llvm
	url = https://github.com/THU-DSP-LAB/llvm-project.git
[submodule "systemc"]
	path = systemc
	url = https://github.com/accellera-official/systemc.git
[submodule "cyclesim"]
	path = cyclesim
	url = https://github.com/THU-DSP-LAB/ventus-gpgpu-cpp-simulator.git
	branch = develop
[submodule "OpenCL-CTS"]
	path = OpenCL-CTS
	url = https://github.com/THU-DSP-LAB/OpenCL-CTS.git
[submodule "testcases"]
	path = testcases
	url = https://github.com/THU-DSP-LAB/Ventus-OpenCL-Testcase.git
[submodule "sbtsim"]
	path = sbtsim
	url = https://github.com/THU-DSP-LAB/ventus-gpgpu-sbt-simulator.git
	branch = develop
